<div class="container-fluid">
  <div class="row">
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
      <div class="form-group jumbotron john">
        <label for="name">Author</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.author" name="name" #name="ngModel"
          required>

        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          <p>Author's Name is Required</p>

        </div>
      </div>
      <div class="form-group jumbotron john">
        <label for="description">Quote</label>
        <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.quoteName" name="description"
          #quote="ngModel" required></textarea>
        <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
          <p> Quote is Required</p>

        </div>
        

      </div>
      
      <div class="form-group jumbotron john">
        <label for="complete">Date Established</label>
        <input type='date' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel"
          required>
        <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
          <p> Date Established is Required</p>

        </div>
      </div>
      <button type="Submit" class="btn btn-success btn-lg">Add Quote</button>
    </form>
  </div>
</div>